name: CD

on:
  push:
    branches: [ main ]

jobs:
  deploy:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      id-token: write

    steps:
    - uses: actions/checkout@v4

    - name: Use Node.js 20
      uses: actions/setup-node@v4
      with:
        node-version: '20'
        cache: 'npm'

    - name: Install Root Dependencies
      run: npm ci

    - name: Install Frontend Dependencies
      run: npm ci
      working-directory: frontend

    - name: Install Functions Dependencies
      run: npm ci
      working-directory: functions

    - name: Build Frontend
      run: npm run frontend:build

    - name: Build Functions
      run: npm run functions:build

    - name: Authenticate to Google Cloud
      uses: google-github-actions/auth@v2
      with:
        credentials_json: '${{ secrets.FIREBASE_SERVICE_ACCOUNT_LGTBIQ26 }}'

    - name: Deploy to Firebase
      run: npx firebase-tools deploy --only hosting,functions --project lgtbiq26
